/* app.css */

/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0; /* Light gray background */
}

/* Center-align container */
.timeframe-selector-container {
  display: flex;
  justify-content: center;
}
.heading{
  text-align: center;
}
/* Button styles */
.timeframe-selector {
  display: flex;
  justify-content: center;
}

.timeframe-selector button {
  margin: 5px;
}
